[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "py app/manage.py runserver 0.0.0.0:$APP_PORT"
dump = "py app/manage.py dumpdata -e sessions -e admin -e contenttypes -e auth.Permission --indent 4  > data/dump.json"
seed = "py app/manage.py loaddata dump.json"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
django-cors-headers = "*"
django-summernote = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
