[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "py learnenglish/manage.py runserver 0.0.0.0:$APP_PORT"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
django-cors-headers = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
